@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Color palette for light mode */
  :root {
    --primary-100: 212 234 247;
    --primary-200: 182 204 216;
    --primary-300: 59 60 61;

    --accent-100: 113 196 239;
    --accent-200: 0 102 140;

    --text-100: 29 28 28;
    --text-200: 49 61 68;

    --bg-100: 255 254 251;
    --bg-200: 245 244 241;
    --bg-300: 204 203 200;

    --error: 255 99 72;
    --warning: 255 193 7;
    --success: 76 175 80;
    --info: 52 152 219;
  }

  /* Color palette for dark mode */
  :root.dark {
    --primary-100: 99 143 198;
    --primary-200: 79 118 163;
    --primary-300: 204 204 204;

    --accent-100: 0 143 170;
    --accent-200: 0 102 140;

    --text-100: 204 204 204;
    --text-200: 153 153 153;

    --bg-100: 42 42 42;
    --bg-200: 34 34 34;
    --bg-300: 26 26 26;

    --error: 255 149 117;
    --warning: 255 238 88;
    --success: 169 255 131;
    --info: 104 198 255;
  }
}
