<body style='font-size: 16px;'>
  <p>Hey <span style='font-weight: bold;'>{{name}}</span>,</p>
  <p>Your account has been successfully created. Welcome to our community!</p>

  <p>The VolunteerLink team.</p>
</body>
