<body style='font-size: 16px;'>
  <div>
    <p>Hey <span style='font-weight: bold;'>{{name}}</span>,</p>
    <p>You've successfully changed your VolunteerLink password.</p>

    <p>
      Thanks for using VolunteerLink!
    </p>

    <p>Yours,</p>
    <p>The VolunteerLink Team</p>
  </div>
</body>
