<p>Hey {{name}},</p>
<p>Please click the following link to complete the password reset. (The link
  expires in 15 minutes.)</p>

<p>
  <a href={{URL}} target='_blank'>{{URL}}</a>
</p>

<p>If you didn't request this, simply ignore this message.</p>

<p> Yours,</p>
<p>VolunteerLink Team.</p>
