<body style='font-size: 16px;'>
  <div>
    <p>Hey <span style='font-weight: bold;'>{{name}}</span>,</p>
    <p>Enter the following code to complete the password reset process:</p>

    <p style='font-size: 24px; font-weight: bold; color: #007bff;'>{{code}}</p>

    <p>If you didn't request this, simply ignore this message.</p>

    <p>Yours,</p>
    <p>The VolunteerLink Team.</p>
  </div>
</body>
