# Database
DATABASE_URL="postgresql://<database-username>:<password>@<host>:<port>/<database-name>?schema=<schema-name>"

# Development
PORT=<port-number>

# JWT secret
JWT_SECRET="<secret-code-for-jwt-token>"

# Nodemailer email sender and password
SENDER_EMAIL=[email_address]
CLIENT_ID=[google_api_client_id]
CLIENT_SECRET=[google_api_client_secret]
REDIRECT_URI=["https://developers.google.com/oauthplayground"]
REFRESH_TOKEN=[google_api_refresh_token]
ACCESS_TOKEN=[google_api_access_token]
